<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar style="color: white;">
    
    <h1 style="margin: 0; padding-left: 10px;">
      
      <span style="color: #de2341;">
        <ion-icon name="arrow-back-circle" (click)="goback()"></ion-icon> 
        TCA 
      </span> 
      <span style="color: white;">Family - </span>

      <span style="font-size: 14px;"> Audio Messages </span>
    </h1>

    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" style="color: white;"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Do ReFresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <main *ngIf="loadingStatus">

    <ion-row>
      <ion-col size="12">
        <!-- List of Sliding Items -->
        <ion-list id="slidingList" lines="none" style="margin: auto 10px;">
          
          <ion-item-sliding lines="none" *ngFor ="let audioMsg of audioMessages; let i=index">
            <ion-item lines="none" id="openViewModal" (click)="openViewModal(i, audioMsg)">
              <ion-thumbnail slot="start" style="width: 75px; height: 75px;" *ngIf="audioMsg.image">
                <img src="{{ audioMsg.image }}">
              </ion-thumbnail>
            
              <ion-label class="ion-text-wrap">
                <ion-text color="dark">
                  <h3> 
                    <span style="color: black;"> {{ audioMsg.service }} </span> | {{ audioMsg.date | date: 'mediumDate' }}
                  </h3>
                </ion-text>
                {{ audioMsg.title | titlecase }}
              </ion-label>
            </ion-item>
  
            <ion-item-options side="end">
              <ion-item-option (click)="deleteItem(i, audioMsg)" class="delete">
                <ion-icon name="trash"></ion-icon>
              </ion-item-option>
              <ion-item-option id="openEditModal" (click)="editItem(i, audioMsg)" class="edit">
                <ion-icon name="pencil"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          
        </ion-list>
  
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </main>

  <div class="text-center loading-center" *ngIf="!loadingStatus">
    <div class="loadingio-spinner-wedges-0a0tixanv03m">
        <div class="ldio-v89jzfwgb"><div>
            <div><div></div></div>
            <div><div></div></div>
            <div><div></div></div>
            <div><div></div></div>
        </div>
        </div>
    </div>
  </div>

  <ion-modal trigger="openViewModal">
    <ng-template>
      <ion-header [translucent]="true" style="position: fixed;" class="ion-no-border">
        <ion-toolbar>
          <h1 style="margin: 0; padding-left: 10px; color: white;">
            <span style="color: #de2341;">
              <ion-icon name="arrow-back-circle" (click)="cancel()"></ion-icon>
            </span>
            Audio Message
          </h1>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-card *ngIf="addEditAudio == false" class="modalViewz">
          <img src="{{ modalAudioMsg.image }}" *ngIf="modalAudioMsg.image" alt="Audio Message Image" height="150px" width="100%">
          
          <ion-card-header style="padding: 10px;">
            <ion-card-subtitle>
              <span style="color: black;"> {{ modalAudioMsg.service }} </span> | {{ modalAudioMsg.date | date: 'mediumDate' }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content style="color: black; padding: 10px;">
            {{ modalAudioMsg.title | titlecase }}

            <div class="range">
              <ion-range
                min="0" max="100"
                color="danger"
                id="audioMsgModalDuration"
                [value]="modalAudioMsg.durationRange"
                (ionChange)="durationChange($event)"
              >
                <span slot="start" style="height: 24px; margin-right: 8px;" class="playBtnCover">
                  <ion-icon name="play" id="playAudioMsgModalBTN" (click)="play()" [ngStyle]="{'display': playingZtate ? 'none' : 'inline'}"></ion-icon>
                  <ion-icon name="pause" id="pauseModalBTN" (click)="pause()" [ngStyle]="{'display': playingZtate ? 'inline' : 'none'}"></ion-icon>

                  {{ modalAudioMsg.currentTime }}
                </span>
                
                <span slot="end" style="margin-left: 8px;"> {{ modalAudioMsg.duration }} </span>
              </ion-range>

            </div>

          </ion-card-content>
        </ion-card>

        <ion-grid class="wrapper-outter" *ngIf="addEditAudio">
          <ion-row>
            <ion-col size="12" class="yCenter">
              <div class="wrapper-inner">
                
                <div>
                  <h2 style="padding: 7px;">Add/Edit Audio <span style="color: #de2341;"> Messages</span>. </h2>
                  
                  <form [formGroup]="audioMsgForm" (ngSubmit)="onSubmit()">

                    <div class="div-img" data-info="audio input">
                      <ion-item lines="none" [ngStyle]="{'border-radius': editAudioZtate || audioPreview ? '10px' : '10px 10px 0 0' }">
                        <ion-label position="floating">Audio message file <ion-text color="danger">*</ion-text></ion-label>
                        <ion-input type="file" 
                          [required]="!editAudioZtate"
                          accept=".mp3, .aac, .wav"
                          placeholder="Audio message file"
                          formControlName="audio" autocomplete="audio"
                          (change)="audioFilePreview($event)"
                        ></ion-input>
                      </ion-item>
                    </div>

                    <div *ngIf="audioPreview" style="margin: 10px unset;">
                      <audio controls #audioTag>
                        <source [src]="audioPreview" type="audio/*">
                      </audio>
                    </div>

                    <div class="range" *ngIf="editAudioZtate">
                      <ion-range
                        min="0" max="100"
                        color="danger"
                        id="audioMsgModalDuration"
                        [value]="modalAudioMsg.durationRange"
                        (ionChange)="durationChange($event)"
                      >
                        <span slot="start" style="height: 24px; margin-right: 8px;" class="playBtnCover">
                          <ion-icon name="play" id="playAudioMsgModalBTN" (click)="play()" [ngStyle]="{'display': playingZtate ? 'none' : 'inline'}"></ion-icon>
                          <ion-icon name="pause" id="pauseModalBTN" (click)="pause()" [ngStyle]="{'display': playingZtate ? 'inline' : 'none'}"></ion-icon>
                          
                          {{ modalAudioMsg.currentTime }}
                        </span>
                        
                        <span slot="end" style="margin-left: 8px;"> {{ modalAudioMsg.duration }} </span>
                      </ion-range>
                    </div>

                    <div data-info="service input">
                      <ion-item lines="none" [ngStyle]="{'border-radius': editAudioZtate || audioPreview ? '10px 10px 0 0' : '0' }">
                        <ion-label position="floating">Service Day/Programme <ion-text color="danger">*</ion-text></ion-label>
                        <ion-input required minlength="3" formControlName="service" type="text"></ion-input>
                      </ion-item>
          
                      <span class="error ion-padding" 
                        *ngIf="audioMsgForm.get('service').touched && audioMsgForm.get('service').dirty && audioMsgForm.get('service').invalid"
                      >
                        <span class="error ion-padding" *ngIf="audioMsgForm.get('service').errors?.required">
                          Please enter the programme or service day
                        </span>
                        <span class="error ion-padding" *ngIf="audioMsgForm.get('service').errors?.minlength">
                          characters should be more than 3 characters.
                        </span>
                      </span>
                    </div>
                    
                    <div data-info="title input">
                      <ion-item lines="none">
                        <ion-label position="floating">Message Topic <ion-text color="danger">*</ion-text></ion-label>
                        <ion-input required minlength="5" formControlName="title" type="text"></ion-input>
                      </ion-item>
          
                      <span class="error ion-padding" 
                        *ngIf="audioMsgForm.get('title').touched && audioMsgForm.get('title').dirty && audioMsgForm.get('title').invalid"
                      >
                        <span class="error ion-padding" *ngIf="audioMsgForm.get('title').errors?.required">
                          Please enter the topic of message preached
                        </span>
                        <span class="error ion-padding" *ngIf="audioMsgForm.get('title').errors?.minlength">
                          characters should be more than 5 characters.
                        </span>
                      </span>
                    </div>
    
                    <div class="div-img" data-info="image input">
                      <ion-item lines="none" style="border-radius: 0 0 10px 10px;">
                        <ion-label position="floating">Service Picture</ion-label>
                        <ion-input type="file" 
                          accept="image/*"
                          placeholder="announcement flyer or image"
                          formControlName="image" autocomplete="image"
                          (change)="imagePreview($event)"
                        ></ion-input>
                      </ion-item>

                      <span class="error ion-padding" *ngIf="imgFileError">
                        File size should not be more than 500kb.
                      </span>
                    </div>

                    <div *ngIf="uploadImgPreview" style="margin: 5px auto;">
                      <img [src]="uploadImgPreview" width="auto" height="150px" style="border-radius: 10px;">
                    </div>

                    <ion-button block type="submit" [disabled]="audioMsgForm.invalid || submitted" mode="md" style="--background: #de2341;">
                      <span *ngIf="!submitted">
                        Submit
                      </span>

                      <span *ngIf="submitted">
                        Uploading... <i *ngIf="submitted" class="loader"></i>
                      </span>
                    </ion-button>
      
                    <ion-button block (click)="cancel()" mode="md" style="--background: #de8723;">
                      close 
                    </ion-button>
                  </form>
                </div>
      
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-content>
    </ng-template>
  </ion-modal>
    
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center" (click)="addNewBTN()">
    <ion-icon name="megaphone" style="color: white; margin-right: 10px;"></ion-icon>
    Add New Audio Message
  </ion-toolbar>
</ion-footer>