<app-header></app-header>

<ion-content [fullscreen]="true">
 
  <div class="content-header ion-text-center">
    <h1>About Us</h1>

    <div class="divide-line">____</div>
  </div>

  <ion-grid>
    <ion-row style="color: white; text-align: center; margin-top: 30px;">
      <ion-col size="12">
        <div class="about-text">
          The Comforters Assembly a.k.a Consolation Ministry Int'l 
          is a church on the Hill, 
          Our Vision: To take the consolation In Christ Jesus to 
          the people and nations of the earth. 
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row class="our-story" style="color: white; text-align: center;">
      <ion-col size="12">
        <h1 style="font-weight: bolder;">Our <span style="color: #de2341;">Vision</span></h1>

        <div>
          To take the consolation In Christ Jesus to 
          the people and nations of the earth.

          To take the <span style="font-weight: bolder;">consolation</span> In
          <span style="color: #de2341; font-weight: bolder;">Christ Jesus</span>
          to the people and nations of the <span style="font-weight: bolder;">earth</span>.
        </div>

        <div style="margin: 20px auto;">
          <ion-icon name="heart" style="color: #de2341; font-size: 25px;"></ion-icon>
        </div>

        <!-- <div class="">
          We <span style="color: #de2341; font-weight: bolder;">Inspire </span> 
          <span style="font-weight: bolder;"> 
            Ideas, Positivity, Greatness, Possibilities, Motivations, Productivity,
          </span> and many more.
        </div> -->
        
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
