ion-header {
    // --background: transparent;
    ion-toolbar {
      --background: transparent;
    }
}

ion-footer {
    --background: transparent;
    ion-toolbar {
        --color: white; 
        --background: #de234250;
    }
}

ion-content {
    font-weight: bold;
    --background:
        linear-gradient(
        rgba(0, 0, 0, 0.452), 
        #0000006c
        ),
        url("/assets/images/adminDetails.png") 
        no-repeat center center / cover;
    // --background-size: cover; 
    // --background-repeat: no-repeat;
    // --background-position: center center;
    --margin: 0;
    --padding: 0;

    .colorRed {
        color: #de2341;
    }
    .error {
        color: #de2341;
        font-size: small;
    }
    
    ion-icon.colorRed {
        font-size: 25px;
        color: #de2341;
    }


    ion-grid.wrapper-outter,
    ion-grid.wrapper-outter ion-row {
        text-align: center;
        height: 100%;
    }

    .yCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper-inner {
        width: 100%;
        margin: auto;
        color: white;
    }

    form ion-item {
        --background: rgba(255, 255, 255, 0.568);
    }


    #goback {
        h2 {
            color: white; 
            font-size: x-large;

            ion-icon {
                color: #de2341;
                cursor: pointer;
            }
        }
    }

    #slidingList {
        background: transparent !important;
        
        ion-item-sliding {
            ion-item {
                --background: transparent !important;
                --background-activated: #dedede42;
            }
            
            background: #a1a1a171;
            margin-bottom: 5px;
            margin-top: 5px;
            border-radius: 7px;

            ion-item-options .delete {
                background: #de2341;
            }

            ion-item-options .edit {
                background: #2623de;
            }

            ion-item-options ion-icon {
                color: white !important;
            }
        }
    
    }

    ion-card.modalViewz {
        background: rgba(255, 255, 255, 0.589);

        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }

    
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #de2341; /* Blue */
        border-bottom: 16px solid #de2341; /* Blue */
        border-radius: 50%;
        animation: spin 0.3s linear infinite;
        margin-left: 10px;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
}
