<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar style="color: white;">
    
    <h1 style="margin: 0; padding-left: 10px;">
      
      <span style="color: #de2341;">
        <ion-icon name="arrow-back-circle" (click)="goback()"></ion-icon> 
        TCA 
      </span> 
      <span style="color: white;">Family - </span>

      <span style="font-size: 14px;"> General Detials </span>
    </h1>

    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" style="color: white;"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <!-- General Details! -->
    <ion-row>
      <ion-col size="12">
        <div style="margin: 10px unset; text-align: center; color: #ffffff;">
          <h2>General Church Details!</h2>
        </div>

        <form [formGroup]="generalForm" (ngSubmit)="onSubmitGeneralForm()">
          <div data-info="appName input">
            <ion-item lines="none" style="border-radius: 10px 10px 0 0;">
              <ion-label position="floating">App Name <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="3" formControlName="appName" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="generalForm.get('appName').touched && generalForm.get('appName').dirty && generalForm.get('appName').invalid"
            >
              <span class="error ion-padding" *ngIf="generalForm.get('appName').errors?.required">
                Please enter the app's name
              </span>
              <span class="error ion-padding" *ngIf="generalForm.get('appName').errors?.minlength">
                App name characters should be more than 3 characters.
              </span>
            </span>
          </div>
          
          <div data-info="churchName input">
            <ion-item lines="none">
              <ion-label position="floating">Church Name <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="3" formControlName="churchName" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="generalForm.get('churchName').touched && generalForm.get('churchName').dirty && generalForm.get('churchName').invalid"
            >
              <span class="error ion-padding" *ngIf="generalForm.get('churchName').errors?.required">
                Please enter church's name
              </span>
              <span class="error ion-padding" *ngIf="generalForm.get('churchName').errors?.minlength">
                Church name characters should be more than 3 characters.
              </span>
            </span>
          </div>

          <div data-info="churchEmail input">
            <ion-item lines="none">
              <ion-label position="floating">Church E-Mail <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="5" formControlName="churchEmail" type="email" autocomplete="email"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="generalForm.get('churchEmail').touched && generalForm.get('churchEmail').dirty && generalForm.get('churchEmail').invalid"
            >
              <span class="error ion-padding" *ngIf="generalForm.get('churchEmail').errors?.required">
                Please enter church email address.
              </span>
              <span class="error ion-padding" *ngIf="generalForm.get('churchEmail').errors?.pattern || generalForm.get('churchEmail').errors?.email">
                Incorrect Email address.
              </span>
            </span>
          </div>

          <div data-info="churchAddress input">
            <ion-item lines="none">
              <ion-label position="floating">Church Address <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="5" formControlName="churchAddress" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="generalForm.get('churchAddress').touched && generalForm.get('churchAddress').dirty && generalForm.get('churchAddress').invalid"
            >
              <span class="error ion-padding" *ngIf="generalForm.get('churchAddress').errors?.required">
                Please enter church address.
              </span>
              <span class="error ion-padding" *ngIf="generalForm.get('churchAddress').errors?.minlength">
                Input character must be more than 5 characters
              </span>
            </span>
          </div>
          
          <div data-info="facebookLink input">
            <ion-item lines="none">
              <ion-label position="floating">Official Facebook Link <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="3" formControlName="facebookLink" autocomplete="url" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="generalForm.get('facebookLink').touched && generalForm.get('facebookLink').dirty && generalForm.get('facebookLink').invalid"
            >
              <span class="error ion-padding" *ngIf="generalForm.get('facebookLink').errors?.required">
                Please enter link to church official facebook account
              </span>
              <span class="error ion-padding" *ngIf="generalForm.get('facebookLink').errors?.minlength">
                Link characters should be more than 3 characters.
              </span>
            </span>
          </div>
          
          <div data-info="instagramLink input">
            <ion-item lines="none">
              <ion-label position="floating">Official Instagram Link <ion-text color="danger">*</ion-text></ion-label>
              <ion-input minlength="3" formControlName="instagramLink" autocomplete="url" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="generalForm.get('instagramLink').touched && generalForm.get('instagramLink').dirty && generalForm.get('instagramLink').invalid"
            >
              <span class="error ion-padding" *ngIf="generalForm.get('instagramLink').errors?.required">
                Please enter link to church official instagram account
              </span>
              <span class="error ion-padding" *ngIf="generalForm.get('instagramLink').errors?.minlength">
                Link characters should be more than 3 characters.
              </span>
            </span>
          </div>
          
          <div data-info="youtubeLink input">
            <ion-item lines="none" style="border-radius: 0 0 10px 10px;">
              <ion-label position="floating">Official YouTube Channel Link <ion-text color="danger">*</ion-text></ion-label>
              <ion-input minlength="3" formControlName="youtubeLink" autocomplete="url" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="generalForm.get('youtubeLink').touched && generalForm.get('youtubeLink').dirty && generalForm.get('youtubeLink').invalid"
            >
              <span class="error ion-padding" *ngIf="generalForm.get('youtubeLink').errors?.required">
                Please enter link to church official YouTube account
              </span>
              <span class="error ion-padding" *ngIf="generalForm.get('youtubeLink').errors?.minlength">
                Link characters should be more than 3 characters.
              </span>
            </span>
          </div>

          <div *ngIf="submittedDetails.generalSent" style="background-color: #de2341; color: white; text-align: center; border-radius: 10px;">
            <p style="padding-top: 15px; padding-bottom: 15px;">
              Details updated successfully!!!
            </p>
          </div>

          <ion-button block type="submit" [disabled]="generalForm.invalid || submittedDetails.generalState" mode="md" style="--background: #de2341;">
            Submit <i *ngIf="submittedDetails.generalState" class="loader"></i>
          </ion-button>
        </form>
      </ion-col>
    </ion-row>

    <!-- Pastor's Details! -->
    <ion-row>
      <ion-col size="12">
        <div style="margin: 10px unset; text-align: center; color: #ffffff;">
          <h2>Pastor's Details!</h2>
        </div>

        <form [formGroup]="pstDetailsForm" (ngSubmit)="onSubmitPstDetailsForm()">
          <div data-info="pastorTitle input">
            <ion-item lines="none" style="border-radius: 10px 10px 0 0;">
              <ion-label position="floating">Pastor's Official Title <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="3" formControlName="pastorTitle" autocomplete="title" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="pstDetailsForm.get('pastorTitle').touched && pstDetailsForm.get('pastorTitle').dirty && pstDetailsForm.get('pastorTitle').invalid"
            >
              <span class="error ion-padding" *ngIf="pstDetailsForm.get('pastorTitle').errors?.required">
                Please enter pastor's official title
              </span>
              <span class="error ion-padding" *ngIf="pstDetailsForm.get('pastorTitle').errors?.minlength">
                Characters should be more than 3 characters.
              </span>
            </span>
          </div>
          
          <div data-info="pastorName input">
            <ion-item lines="none">
              <ion-label position="floating">Pastor's Full Name(s) <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="3" formControlName="pastorName" autocomplete="name" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="pstDetailsForm.get('pastorName').touched && pstDetailsForm.get('pastorName').dirty && pstDetailsForm.get('pastorName').invalid"
            >
              <span class="error ion-padding" *ngIf="pstDetailsForm.get('pastorName').errors?.required">
                Please enter pastor's full name(s)
              </span>
              <span class="error ion-padding" *ngIf="pstDetailsForm.get('pastorName').errors?.minlength">
                Characters should be more than 3 characters.
              </span>
            </span>
          </div>
          
          <div data-info="assistantPastorName input">
            <ion-item lines="none">
              <ion-label position="floating">Assistant Pastor's Full Name(s) <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="3" formControlName="assistantPastorName" autocomplete="name" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="pstDetailsForm.get('assistantPastorName').touched && pstDetailsForm.get('assistantPastorName').dirty && pstDetailsForm.get('assistantPastorName').invalid"
            >
              <span class="error ion-padding" *ngIf="pstDetailsForm.get('assistantPastorName').errors?.required">
                Please enter assistant pastor's full name(s)
              </span>
              <span class="error ion-padding" *ngIf="pstDetailsForm.get('assistantPastorName').errors?.minlength">
                Characters should be more than 3 characters.
              </span>
            </span>
          </div>

          <div data-info="pastorEmail input">
            <ion-item lines="none">
              <ion-label position="floating">Pastor's E-Mail <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="5" formControlName="pastorEmail" type="email" autocomplete="email"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="pstDetailsForm.get('pastorEmail').touched && pstDetailsForm.get('pastorEmail').dirty && pstDetailsForm.get('pastorEmail').invalid"
            >
              <span class="error ion-padding" *ngIf="pstDetailsForm.get('pastorEmail').errors?.required">
                Please enter Pastor's email address.
              </span>
              <span class="error ion-padding" *ngIf="pstDetailsForm.get('pastorEmail').errors?.pattern || pstDetailsForm.get('pastorEmail').errors?.email">
                Incorrect email address.
              </span>
            </span>
          </div>
          
          <div data-info="pastorNumber input">
            <ion-item lines="none">
              <ion-label position="floating">Pastor's Phone Number <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="10" formControlName="pastorNumber" type="tel" autocomplete="tel"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="pstDetailsForm.get('pastorNumber').touched && pstDetailsForm.get('pastorNumber').dirty && pstDetailsForm.get('pastorNumber').invalid"
            >
              <span class="error" *ngIf="pstDetailsForm.get('pastorNumber').errors?.required;">
                Please enter pastor's phone number.
              </span>
              <span class="error" *ngIf="pstDetailsForm.get('pastorNumber').errors?.pattern || pstDetailsForm.get('pastorNumber').errors?.minlength;">
                Incorrect phone number.
              </span>
            </span>
          </div>
          
          <div data-info="pastorNumberAlt input">
            <ion-item lines="none" style="border-radius: 0 0 10px 10px;">
              <ion-label position="floating">Pastor's Phone Number Alt. <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="10" formControlName="pastorNumberAlt" type="tel" autocomplete="tel"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="pstDetailsForm.get('pastorNumberAlt').touched && pstDetailsForm.get('pastorNumberAlt').dirty && pstDetailsForm.get('pastorNumberAlt').invalid"
            >
              <span class="error" *ngIf="pstDetailsForm.get('pastorNumberAlt').errors?.required;">
                Please enter pastor's phone number.
              </span>
              <span class="error" *ngIf="pstDetailsForm.get('pastorNumberAlt').errors?.pattern || pstDetailsForm.get('pastorNumberAlt').errors?.minlength;">
                Incorrect phone number.
              </span>
            </span>
          </div>

          <div *ngIf="submittedDetails.pastorFormSent" style="background-color: #de2341; color: white; text-align: center; border-radius: 10px;">
            <p style="padding-top: 15px; padding-bottom: 15px;">
              Pastor's details have been updated successfully!!!
            </p>
          </div>

          <ion-button block type="submit" [disabled]="pstDetailsForm.invalid || submittedDetails.pastorFormState" mode="md" style="--background: #de2341;">
            Submit <i *ngIf="submittedDetails.pastorFormState" class="loader"></i>
          </ion-button>
        </form>
      </ion-col>
    </ion-row>

    <!-- Bank Account Details! -->
    <ion-row style="margin-top: 20px;">
      <ion-col size="12">
        <div style="margin: 10px unset; text-align: center; color: #ffffff;">
          <h2>Church Bank Account Details!</h2>
        </div>

        <form [formGroup]="offeringAcctForm" (ngSubmit)="onSubmitOfferingAcct()">

          <div data-info="bankName input">
            <ion-item lines="none" style="border-radius: 10px 10px 0 0;">
              <ion-label position="floating">Bank Name <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="3" formControlName="bankName" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="offeringAcctForm.get('bankName').touched && offeringAcctForm.get('bankName').dirty && offeringAcctForm.get('bankName').invalid"
            >
              <span class="error ion-padding" *ngIf="offeringAcctForm.get('bankName').errors?.required">
                Please enter the bank name
              </span>
              <span class="error ion-padding" *ngIf="offeringAcctForm.get('bankName').errors?.minlength">
                Name of bank characters should be more than 3 characters.
              </span>
            </span>
          </div>

          <div data-info="accountNumber input">
            <ion-item lines="none">
              <ion-label position="floating">Account Number <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="10" maxlength="10" formControlName="accountNumber" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="offeringAcctForm.get('accountNumber').touched && offeringAcctForm.get('accountNumber').dirty && offeringAcctForm.get('accountNumber').invalid"
            >
              <span class="error" *ngIf="offeringAcctForm.get('accountNumber').errors?.required;">
                Please enter the bank account number.
              </span>
              <span class="error" *ngIf="offeringAcctForm.get('accountNumber').errors?.maxlength || offeringAcctForm.get('accountNumber').errors?.minlength;">
                Account number is not correct.
              </span>
            </span>
          </div>

          <div data-info="accountName input">
            <ion-item lines="none" style="border-radius: 0 0 10px 10px;">
              <ion-label position="floating">Account Name <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required minlength="3" formControlName="accountName" type="text"></ion-input>
            </ion-item>

            <span class="error ion-padding" 
              *ngIf="offeringAcctForm.get('accountName').touched && offeringAcctForm.get('accountName').dirty && offeringAcctForm.get('accountName').invalid"
            >
              <span class="error ion-padding" *ngIf="offeringAcctForm.get('accountName').errors?.required">
                Please enter the bank account name
              </span>
              <span class="error ion-padding" *ngIf="offeringAcctForm.get('accountName').errors?.minlength">
                Account name characters should be more than 3 characters.
              </span>
            </span>
          </div>
          
          <div *ngIf="submittedDetails.offeringSent" style="background-color: #de2341; color: white; text-align: center; border-radius: 10px;">
            <p style="padding-top: 15px; padding-bottom: 15px;">
              Account details has been updated successfully!
            </p>
          </div>

          <ion-button block type="submit" [disabled]="offeringAcctForm.invalid || submittedDetails.offeringState" mode="md" style="--background: #de2341;">
            Submit <i *ngIf="submittedDetails.offeringState" class="loader"></i>
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
